* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
.container,
.textcontainer,
.pricecon {
  display: flex;
}
body {
  height: 100vh;
  background: hsl(30, 38%, 92%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 550px;
  height: 400px;
  margin: auto;
  background: white;
  border-radius: 1em;
}
.imgcontainer {
  width: 50%;
  height: 100%;
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.textcontainer {
  width: 50%;
  flex-direction: column;
  padding: 2em 3em 2em 2em;
  gap: 1.25em;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.category {
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.5em;
  font-size: 0.8em;
}
.productname {
  font-family: "Fraunces", serif;
}
.desc {
  line-height: 1.5em;
  font-size: 0.9em;
  color: hsl(228, 12%, 48%);
}
.pricecon {
  align-items: center;
  gap: 1em;
}
.curprice {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 2em;
  font-family: "Fraunces", serif;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0.75em 0;
  border-radius: 0.5em;
  background: hsl(158, 36%, 37%);
  font-size: inherit;
  font-family: inherit;
}
.btn img {
  margin-right: 1em;
}
.btn:hover,
.btn:active {
  background: hsl(212, 21%, 14%);
}
.attribution {
  margin-bottom: 2em;
}
@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    width: 300px;
    height: 600px;
  }
  .textcontainer {
    width: 100%;
  }
  .imgcontainer {
    width: 100%;
    background-image: url(./images/image-product-mobile.jpg);
    background-size: cover;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 0em;
    border-top-right-radius: 1em;
  }
}
